<div class="p-grid">
  <div class="p-col">
    <app-breadcrumb [items]="this.menuItem"></app-breadcrumb>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <p-panel header="FILTRI DI RICERCA">
      <div class="p-grid">
        <div class="p-col">
          <app-dropdown-service [label]="'COMUNE'" [placeholder]="'SELEZIONA UN COMUNE'"
          (itemSelezionatoEvent)="comuneSelezionatoEvent($event)">
        </app-dropdown-service>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<div class="p-grid" *ngIf="comuneSelezionato != undefined">
  <div class="p-col-12 p-md-12">
    <app-single-line-chart [label]="'PREVISIONE (ANDAMENTO ULTIMI 5 ANNI)'" [comune]="pop5AnniPrev" [interpolazione]="false">
    </app-single-line-chart>
  </div>
</div>
<div class="p-grid" *ngIf="comuneSelezionato != undefined">
  <div class="p-col-12 p-md-12">
    <app-single-line-chart [label]="'PREVISIONE (ANDAMENTO ULTIMI 10 ANNI)'" [comune]="pop10AnniPrev" [interpolazione]="false">
    </app-single-line-chart>
  </div>
</div>
<div class="p-grid" *ngIf="comuneSelezionato != undefined">
  <div class="p-col-12 p-md-6">
    <app-single-line-chart [label]="'PREVISIONE (ANDAMENTO ULTIMI 15 ANNI)'" [comune]="pop15AnniPrev" [interpolazione]="false">
    </app-single-line-chart>
  </div>
  <div class="p-col-12 p-md-6">
    <app-single-line-chart [label]="'PREVISIONE (ANDAMENTO ULTIMI 20 ANNI)'" [comune]="pop20AnniPrev" [interpolazione]="false">
    </app-single-line-chart>
  </div>
</div>
