<p-panel header="{{this.indicatoreLabel}}">
  <div class="p-grid">
    <div class="p-col-12 p-md-12">
      <p-chart type="line" [data]="andamento" (onDataSelect)="selectData($event)" [responsive]="true"></p-chart>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      <h4>{{this.indicatoreLabel}} (anno {{this.annoInizio}}): {{this.primoAnno}}</h4>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      <h4>{{this.indicatoreLabel}} (anno {{this.annoFine}}): {{this.ultimoAnno}}</h4>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      <h4>VARIAZIONE % (tra {{this.annoInizio}} e {{this.annoFine}}): {{this.variazionePercentuale}} %</h4>
    </div>
  </div>
</p-panel>
