<div class="p-grid">
  <div class="p-col">
    <p-panel header="FILTRI DI RICERCA">
      <div class="p-grid">
        <div class="p-col">
          <h4>SELEZIONA COMUNE</h4>
          <p-dropdown [options]="comuni" [(ngModel)]="comuneSelezionato" placeholder="Seleziona un comune"
            [filter]="true" (onChange)="caricaStoricoComune()">
          </p-dropdown>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <p-panel header="STATISTICHE" *ngIf="comuneSelezionato != undefined">
      <div class="p-grid">
        <div class="p-col">
          <app-indice-fertilita [comune]="storicoComune"></app-indice-fertilita>
        </div>
        <div class="p-col">
          <app-tasso-natalita [comune]="storicoComune"></app-tasso-natalita>
        </div>
      </div>
    </p-panel>
  </div>
</div>
