<div class="p-grid">
  <div class="p-col">
    <app-breadcrumb [items]="this.menuItem"></app-breadcrumb>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <p-panel header="FILTRI DI RICERCA">
      <div class="p-grid">
        <div class="p-col">
          <app-multiselect-service [label]="'COMUNI'" [placeholder]="'SELEZIONA ALMENO UN COMUNE'" [filter]="true"
            (itemSelezionatiEvent)="comuniSelezionatiEvent($event)" [itemsSelezionati]="comuniSelezionati">
          </app-multiselect-service>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12 p-md-12">
    <p-panel header="STATISTICHE" *ngIf="comuniSelezionati != undefined && comuniSelezionati.length > 0">
      <div class="p-grid">
        <div class="p-col-12 p-md-4">
          <app-multi-line-chart [listaComuni]="comuniM" [label]="'POPOLAZIONE MASCHILE'" [interpolazione]="false">
          </app-multi-line-chart>
        </div>
        <div class="p-col-12 p-md-4">
          <app-multi-line-chart [listaComuni]="comuniF" [label]="'POPOLAZIONE FEMMINILE'" [interpolazione]="false">
          </app-multi-line-chart>
        </div>
        <div class="p-col-12 p-md-4">
          <app-multi-line-chart [listaComuni]="comuniT" [label]="'POPOLAZIONE TOTALE'" [interpolazione]="false">
          </app-multi-line-chart>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 p-md-6">
          <app-multi-line-chart [label]="'INDICE FERTILITA'" [interpolazione]="false">
          </app-multi-line-chart>
        </div>
        <div class="p-col-12 p-md-6">
          <app-multi-line-chart [label]="'TASSO NATALITA'" [interpolazione]="false">
          </app-multi-line-chart>
        </div>
      </div>
    </p-panel>
  </div>
</div>
