<div class="p-grid">
  <div class="p-col">
    <app-breadcrumb [items]="this.menuItem"></app-breadcrumb>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <p-panel header="FILTRI DI RICERCA">
      <div class="p-grid">
        <div class="p-col">
          <app-dropdown-service [label]="'COMUNE'" [placeholder]="'SELEZIONA UN COMUNE'"
            (itemSelezionatoEvent)="comuneSelezionatoEvent($event)">
          </app-dropdown-service>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12 p-md-12">
    <p-panel header="POPOLAZIONE ETA SCOLARE" *ngIf="comuneSelezionato != undefined">
      <div class="p-grid">
        <div class="p-col-12 p-md-6">
          <app-single-line-chart [label]="'ASILO NIDO'" [comune]="popNidoFiltered" [interpolazione]="true">
          </app-single-line-chart>
        </div>
        <div class="p-col-12 p-md-6">
          <app-single-line-chart [label]="'SCUOLA MATERNA'" [comune]="popMaternaFiltered" [interpolazione]="true">
          </app-single-line-chart>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 p-md-4">
          <app-single-line-chart [label]="'SCUOLA ELEMENTARE'" [comune]="popElementareFiltered" [interpolazione]="true">
          </app-single-line-chart>
        </div>
        <div class="p-col-12 p-sm-4">
          <app-single-line-chart [label]="'SCUOLA MEDIA INFERIORE'" [comune]="popMediaFiltered" [interpolazione]="true">
          </app-single-line-chart>
        </div>
        <div class="p-col-12 p-sm-4">
          <app-single-line-chart [label]="'SCUOLA MEDIA SUPERIORE'" [comune]="popSuperioreFiltered"
            [interpolazione]="true"></app-single-line-chart>
        </div>
      </div>
    </p-panel>
  </div>
</div>
