<div class="p-grid">
  <div class="p-col">
    <app-breadcrumb [items]="this.menuItem"></app-breadcrumb>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <p-panel header="FILTRI DI RICERCA">
      <div class="p-grid">
        <div class="p-col">
          <app-dropdown-service
            [label]="'COMUNE'"
            [placeholder]="'SELEZIONA UN COMUNE'"
            (itemSelezionatoEvent)="comuneSelezionatoEvent($event)"
          >
          </app-dropdown-service>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col">
          <h5>Filtro anno dal {{ rangeAnno[0] + " al " + rangeAnno[1] }}</h5>
          <p-slider
            [(ngModel)]="rangeAnno"
            [range]="true"
            [step]="1"
            [min]="1982"
            [max]="2022"
            (onChange)="changeRange()"
          ></p-slider>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col">
          <h5>Filtro fascia età dal {{ rangeEta[0] + " al " + rangeEta[1] }}</h5>
          <p-slider
            [(ngModel)]="rangeEta"
            [range]="true"
            [step]="1"
            [min]="1"
            [max]="85"
            (onChange)="changeRange()"
          ></p-slider>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12 p-md-12">
    <p-panel header="STATISTICHE" *ngIf="comuneSelezionato != undefined">
      <div class="p-grid">
        <div class="p-col-12 p-md-12">
          <div class="p-grid">
            <div class="p-col-4">
              <h5>MASCHI</h5>
              <p-knob [(ngModel)]="maschi" [min]="0" [max]="totale"></p-knob>
            </div>
            <div class="p-col-4">
              <h5>FEMMINE</h5>
              <p-knob [(ngModel)]="femmine" [min]="0" [max]="totale"></p-knob>
            </div>
            <div class="p-col-4">
              <h5>TOTALE</h5>
              <p-knob [(ngModel)]="totale" [min]="0" [max]="totale"></p-knob>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 p-md-4">
          <app-single-line-chart
            [label]="'POPOLAZIONE MASCHILE'"
            [comune]="comunePopMaschileFiltered"
            [interpolazione]="true"
          ></app-single-line-chart>
        </div>
        <div class="p-col-12 p-md-4">
          <app-single-line-chart
            [label]="'POPOLAZIONE FEMMINILE'"
            [comune]="comunePopFemminileFiltered"
            [interpolazione]="true"
          ></app-single-line-chart>
        </div>
        <div class="p-col-12 p-md-4">
          <app-single-line-chart
            [label]="'POPOLAZIONE TOTALE'"
            [comune]="comunePopTotaleFiltered"
            [interpolazione]="true"
          ></app-single-line-chart>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 p-md-6">
          <app-single-line-chart
            [label]="'INDICE FERTILITA'"
            [comune]="comuneTassoFertilitaFiltered"
            [interpolazione]="true"
          ></app-single-line-chart>
        </div>
        <div class="p-col-12 p-md-6">
          <app-single-line-chart
            [label]="'TASSO NATALITA'"
            [comune]="comuneTassoNatalitaFiltered"
            [interpolazione]="true"
          ></app-single-line-chart>
        </div>
      </div>
    </p-panel>
  </div>
</div>
