<div class="p-grid">
  <div class="p-col">
    <app-breadcrumb [items]="this.menuItem"></app-breadcrumb>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <p-panel header="FILTRI DI RICERCA">
      <div class="p-grid">
        <div class="p-col">
          <app-multiselect-service [label]="'COMUNI'" [placeholder]="'SELEZIONA ALMENO UN COMUNE'" [filter]="true"
            (itemSelezionatiEvent)="comuniSelezionatiEvent($event)" [itemsSelezionati]="comuniSelezionati">
          </app-multiselect-service>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12 p-md-12">
    <p-panel header="POPOLAZIONE ETA SCOLARE" *ngIf="comuniSelezionati != undefined && comuniSelezionati.length > 0">
      <div class="p-grid">
        <div class="p-col-12 p-md-6">
          <app-multi-line-chart [listaComuni]="comuniNido" [label]="'ASILO NIDO'" [interpolazione]="false">
          </app-multi-line-chart>
        </div>
        <div class="p-col-12 p-md-6">
          <app-multi-line-chart [listaComuni]="comuniMaterna" [label]="'SCUOLA MATERNA'" [interpolazione]="false">
          </app-multi-line-chart>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 p-md-4">
          <app-multi-line-chart [listaComuni]="comuniElementare" [label]="'SCUOLA ELEMENTARE'" [interpolazione]="false">
          </app-multi-line-chart>
        </div>
        <div class="p-col-12 p-sm-4">
          <app-multi-line-chart [listaComuni]="comuniMedia" [label]="'SCUOLA MEDIA INFERIORE'" [interpolazione]="false">
          </app-multi-line-chart>
        </div>
        <div class="p-col-12 p-sm-4">
          <app-multi-line-chart [listaComuni]="comuniSuperiore" [label]="'SCUOLA MEDIA SUPERIORE'"
            [interpolazione]="false">
          </app-multi-line-chart>
        </div>
      </div>
    </p-panel>
  </div>
</div>
