<div class="p-grid">
  <div class="p-col">
    <button
      pButton
      type="button"
      label="Visualizza Storico"
      icon="pi pi-table"
      class="p-button-lg"
      (click)="handleClick($event, 'visualizza-storico')"
    ></button>
  </div>
  <div class="p-col">
    <button
      pButton
      type="button"
      label="Statistiche"
      icon="pi pi-list"
      class="p-button-lg"
      (click)="handleClick($event, 'statistiche')"
    ></button>
  </div>
  <div class="p-col">
    <button
      pButton
      type="button"
      label="Grafici"
      icon="pi pi-chart-line"
      class="p-button-lg"
      (click)="handleClick($event, 'grafici')"
    ></button>
  </div>
  <div class="p-col">
    <button
      pButton
      type="button"
      label="Aggiorna Storico"
      icon="pi pi-pencil"
      class="p-button-lg"
      (click)="handleClick($event, 'aggiorna-storico')"
    ></button>
  </div>
</div>
<div class="p-grid">
  <div class="p-col">
    <button
      pButton
      type="button"
      label="Confronta Comuni"
      icon="pi pi-sliders-h"
      class="p-button-lg"
      (click)="handleClick($event, 'confronta-comuni')"
    ></button>
  </div>
  <div class="p-col">
  </div>
  <div class="p-col">
  </div>
  <div class="p-col">
  </div>
</div>
