<div class="p-grid">
  <div class="p-col-12 p-md-12">
    <h2>STATISTICHE POPOLAZIONE - COMUNE SINGOLO</h2>
    <hr>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12 p-md-3">
    <button pButton type="button" label="VISUALIZZA STORICO" icon="pi pi-table" class="p-button-lg"
      (click)="handleClick($event, 'visualizza-storico')"></button>
  </div>
  <div class="p-col-12 p-md-3">
    <button pButton type="button" label="STATISTICHE" icon="pi pi-list" class="p-button-lg"
      (click)="handleClick($event, 'statistiche')"></button>
  </div>
  <div class="p-col-12 p-md-3">
    <button pButton type="button" label="GRAFICI POPOLAZIONE" icon="pi pi-chart-line" class="p-button-lg"
      (click)="handleClick($event, 'grafici')"></button>
  </div>
  <div class="p-col-12 p-md-3">
    <button pButton type="button" label="POPOLAZIONE ETA' SCOLARE" icon="pi pi-book" class="p-button-lg"
      (click)="handleClick($event, 'eta-scolare')"></button>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12 p-md-3">
    <!-- <button pButton type="button" label="AGGIORNA STORICO" icon="pi pi-pencil" class="p-button-lg"
      (click)="handleClick($event, 'aggiorna-storico')"></button> -->
  </div>
  <div class="p-col-12 p-md-3">
  </div>
  <div class="p-col-12 p-md-3">
  </div>
  <div class="p-col-12 p-md-3">
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12 p-md-12">
    <h2>STATISTICHE POPOLAZIONE - COMUNI MULTIPLI</h2>
    <hr>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12 p-md-3">
    <button pButton type="button" label="CONFRONTO STATISTICHE" icon="pi pi-list" class="p-button-lg"
      (click)="handleClick($event, 'statistiche-popolazione-multipli')"></button>
  </div>
  <div class="p-col-12 p-md-3">
    <button pButton type="button" label="CONFRONTO GRAFICI POPOLAZIONE" icon="pi pi-chart-line" class="p-button-lg"
      (click)="handleClick($event, 'confronta-comuni')"></button>
  </div>
  <div class="p-col-12 p-md-3">
    <button pButton type="button" label="CONFRONTO ETA' SCOLARE" icon="pi pi-book" class="p-button-lg"
      (click)="handleClick($event, 'eta-scolare-popolazione-multipli')"></button>
  </div>
  <div class="p-col-12 p-md-3">
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12 p-md-12">
    <h2>BILANCIO DEMOGRAFICO - COMUNE SINGOLO</h2>
    <hr>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12 p-md-12">
    <h2>BILANCIO DEMOGRAFICO - COMUNI MULTIPLI</h2>
    <hr>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12 p-md-12">
    <h2>STATISTICHE AREA</h2>
    <hr>
  </div>
</div>
